nav ul li {
    display: inline-block;
    margin-right: 10px ;
    border-right: 1px solid black;
    padding: 10px;
}
nav ul {
    text-align: center;
    line-height: 40px;
}
nav ul li:first-child{
    border-left: 1px solid black;
}
nav ul li a {
    color: red;
}
body {
    margin-left: 50%;
    transform: translateX(-50%);
}
header {
    background: darkgray;
    height: 60px;
}
footer {
    background: rgba(26, 26, 26, 0.836);
    height: 60px;
}
main  {
    background: linear-gradient(gray , lightgray);
    margin: 0;
    padding: 0;
}
form {
    text-align: center;
}
form input {
    width: 200px;
}
#nom {
    margin-left: 15px;
}
#mail {
    margin-left: 20px;
}
form div:nth-child(8){
    margin-left: -10px;
}
h2  {
   text-align: center;
   font-size: 30px; 
   padding: 10px;
}