body {
    background:url("../img/bg.jpg");
    background-size: cover;
    color: white;
}

header {
    padding: 30px 0;
}

header ul {
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
}

header ul li {
    display: inline-block;
    width: 10%;
    margin-left:35px ;
    
}

header ul li a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}
header ul li a:hover{

    font-size: 30px;
    transition-delay: 180ms;
}
h1 {
    text-align: center;
}

p {
    text-align: center;
}

form {
    padding: 20px 0;
    text-align: center;
}

div {
    margin: 0 auto;
}
footer {
    text-align: center;
    padding: 20px 0;
}

hr {
    width: 50%;
}
#container {
    background: linear-gradient(#FFC300,#FF5733,#C70039);
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}
form > div {
    margin: 5px 0;
}
h2 {
    text-align: center;
    margin-bottom: 0;
}
h3{
    text-align: center;
    margin-bottom: 0;
}
main div div{
    padding: 0 15px;
    text-align: justify;
}